<nav class='navbar {{class}}'>
    <a class="brand" href='/'>
        {{#not text}}{{capitalizeAll class}}{{/not}}
        {{#if text}}{{text}}{{/if}}
    </a>
    <button class='btn toggle' data-target='#{{target}}'>
        <i class="fas fa-bars"></i>
    </button>
    <ul id='{{target}}'>
        {{#not items}}
            <li>
                <a href="#">
                    Item One
                </a>
            </li>
            <li>
                <a href="#">
                    Item Two
                </a>
            </li>
            <li>
                <a href="#">
                    Item Three
                </a>
            </li>
        {{/not}}
        {{#if items}}
            {{#each items}}
                <li>
                    <a href='{{href}}'>{{label}}</a>
                </li>
            {{/each}}
        {{/if}}
    </ul>
</nav>
