.btn {
    $theme: map-get($palette, light);
    $background: nth($theme, 1);
    $color: nth($theme, 2);
    background: $background;
    border: 1px solid darken($background, 10%);
    color: $color;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: map-get($font, sans);
    font-weight: 400;
    border-radius: 0.375rem;
    $sizing: map-get($sizes, null);
    font-size: map-get($sizing, font-size);
    padding: map-get($sizing, padding);
    line-height: map-get($sizing, line-height);
    &:hover, &.active {
        background: darken($background, 10%);
    }
    &.block {
        display: block;
        width: 100%;
    }
    @each $label, $width in $mq-breakpoints {
        @include mq($until: #{$label}) {
            &.block\@#{$label} {
                display: block;
                width: 100%;
            }
        }
    }
    &.fill {
        display: block;
        width: 100%;
        height: 100%;
    }
    &.disabled, &:disabled {
        background: RGBA($background, 0.5);
        border-color: RGBA(darken($background, 10%), 0.5);
        color: RGBA($color, 0.5);
        pointer-events: none;
        cursor: default;
    }
    &.link {
        background: transparent;
        border: none;
        color: $primary;
        &:hover, &.active {
            color: darken($primary, 10%);
        }
        &.disabled, &:disabled {
            color: $light;
        }
    }
    &.rounded {
        border-radius: 2rem;
    }
    &.outline {
        background: transparent;
        border-color: $background;
        color: $background;
        &:hover, &.active {
            background: transparent;
            border-color: darken($background, 10%);
            color: darken($background, 10%);
        }
        &.disabled, &:disabled {
            border-color: RGBA($background, 0.5);
            color: RGBA($background, 0.5);
        }
    }
}

@each $alias, $value in $palette {
    $background: nth($value, 1);
    $color: nth($value, 2);
    .btn.#{$alias} {
        background: $background;
        border-color: darken($background, 10%);
        color: $color;
        &:hover, &.active {
            @if $gradients-enabled {
                background: linear-gradient(0deg, lighten($background, 5%) 0%, $background 100%);
            }
            background: darken($background, 10%);
        }
        &.disabled, &:disabled {
            background: RGBA($background, 0.5);
            border-color: RGBA(darken($background, 10%), 0.5);
            color: RGBA($color, 0.5);
        }
        &.outline {
            background: transparent;
            color: $background;
            border-color: $background;
            &:hover, &.active {
                background: transparent;
                border-color: darken($background, 10%);
                color: darken($background, 10%);
            }
            &.disabled, &:disabled {
                border-color: RGBA($background, 0.5);
                color: RGBA($background, 0.5);
            }
        }
    }
}

.btn-group {
    font-size: 0;
    .btn {
        border-radius: 0;
        &:first-child {
            border-top-left-radius: 0.375rem;
            border-bottom-left-radius: 0.375rem;
        }
        &:last-child {
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }
    }
    &.vertical {
        .btn {
            display: block;
            width: 100%;
            border-radius: 0;
            &:first-child {
                border-top-left-radius: 0.375rem;
                border-top-right-radius: 0.375rem;
            }
            &:last-child {
                border-bottom-left-radius: 0.375rem;
                border-bottom-right-radius: 0.375rem;
            }
        }
    }
}

@each $alias, $sizing in $sizes {
    $font-size: map-get($sizing, font-size);
    $padding: map-get($sizing, padding);
    $line-height: map-get($sizing, line-height);
    @if ($alias != null) {
        .btn.#{$alias} {
            font-size: $font-size;
            padding: $padding;
            line-height: $line-height;
        }
    } @else {
        .btn {
            font-size: $font-size;
            padding: $padding;
            line-height: $line-height;
        }
    }
}
