.card {
    $sizing: map-get($sizes, null);
    $theme: map-get($palette, white);
    $background: nth($theme, 1);
    $color: nth($theme, 2);
    background: $background;
    border: 1px solid darken($background, 10%);
    border-radius: 0.375rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    color: $color;
    transition: all .2s ease-in-out;
    .header, .footer {
        font-family: map-get($font, heading);
        font-weight: bold;
        border-radius: 0;
    }
    .header {
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
    .footer {
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
    .header, .footer, .body {
        padding: map-get($sizing, padding);
    }
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    }
}
