input, select, textarea {
    $theme: map-get($palette, light);
    $background: nth($theme, 1);
    $color: nth($theme, 2);
    background: $background;
    border: 1px solid darken($light, 10%);
    border-radius: 0.375rem;
    $sizing: map-get($sizes, null);
    font-size: map-get($sizing, font-size);
    padding: map-get($sizing, padding);
    line-height: map-get($sizing, line-height);
}

select {
    $sizing: map-get($sizes, null);
    height: 38px;
}

label {
    display: block;
    margin-bottom: map-get($spacing-values, xl);
    input, select {
        display: block;
        width: 100%;
    }
}
