.navbar {
    $theme: map-get($palette, light);
    $background: nth($theme, 1);
    $color: nth($theme, 2);
    background: $background;
    @include clearfix;
    @if $gradients-enabled {
        background: linear-gradient(0deg, lighten($background, 20%) 0%, $background 100%);
    }
    a {
        color: $color;
        &:hover {
            color: darken($color, 10%);
        }
    }
    // border-bottom: 1px solid darken($background, 10%);
    color: $color;
    line-height: 3rem;
    .brand {
        font-weight: bold;
        font-family: map-get($font, heading);
        display: inline-block;
        padding: sub-map($sizes, null, padding);
    }
    .toggle {
        display: none;
        float: right;
        margin: map-get($spacing-values, sm);
    }
    ul {
        display: inline-block;
        list-style: none;
        li {
            display: inline-block;
            a {
                display: block;
                padding: sub-map($sizes, null, padding);
            }
        }
        &.right {
            float: right;
        }
    }
    @include mq($until: md) {
        ul {
            display: none;
            width: 100%;
            &.active {
                display: block;
            }
            li {
                display: block;
                line-height: 1.5rem;
                border-top: 1px solid darken($background, 10%);
            }
        }
        .toggle {
            display: inline-block;
        }
    }
    @each $alias, $value in $palette {
        $background: nth($value, 1);
        $color: nth($value, 2);
        &.#{$alias} {
            background: $background;
            // border-bottom: 1px solid darken($background, 10%);
            a {
                color: $color;
                &:hover {
                    color: darken($color, 10%);
                }
            }
            .toggle {
                background: transparent;
                border-color: $color;
                color: $color;
                &:hover, &.active {
                    color: darken($color, 10%);
                }
            }
            @include mq($until: md) {
                ul {
                    li {
                        border-top: 1px solid darken($background, 10%);
                    }
                }
            }
        }
    }
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
}
