<div class="login text--center">
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrftoken}}" />
        <label for='email'>
            Email Address
            <input type='email' name='email' class='text--center' />
        </label>
        <label for='password'>
            Password
            <input type='password' name='password' class='text--center' />
        </label>
        <button class='btn primary'>Login</button>
    </form>
    {{#if error}}
        {{error}}
    {{/if}}
</div>
