<h1>Reset Password</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrftoken}}" />
    <label for='email'>
        Email Address
        <input type='email' name='email' />
    </label>
    <label for='username'>
        Username
        <input type='text' name='username' />
    </label>
    <button class='btn primary'>Reset Password</button>
</form>
