.circle {
    border-radius: 50%;
}

.rounded {
    border-radius: 5px;
}

.border {
    border: 1px solid $dark;
}

@each $alias, $value in $palette {
    $background: nth($value, 1);
    .border--#{$alias} {
        border: 1px solid $background
    }
}
