
.container {
    margin: 0 auto;
    max-width: 1140px;
    clear: both;
}

[class^="col"] {
    display: inline-block;
    vertical-align: top;
    padding: map-get($spacing-values, null);
}

@mixin columns($columns, $breakpoint: null) {
    @each $row in $columns {
        @for $column from 1 through $row {
            .col-#{$column}\/#{$row}#{$breakpoint} {
                width: ($column / $row) * 100% !important;
            }
            .push-#{$column}\/#{$row}#{$breakpoint} {
                position: relative;
                right: auto;
                left: ($column / $row) * 100% !important;
            }
            .pull-#{$column}\/#{$row}#{$breakpoint} {
                position: relative;
                right: ($column / $row) * 100% !important;
                left: auto;
            }
        }
        .u-show#{$breakpoint} { visibility: visible; display: block; }
        .u-hide#{$breakpoint} { visibility: collapse; display: none; }
    }
}

@include columns(1 2 3 4 5 6);

@each $alias, $bp in $mq-breakpoints {
    @include mq($from: $bp) {
        .container {
            width: $bp;
        }
        @include columns(1 2 3 4 5 6, \@#{$alias});
    }
}
