@mixin spacing() {
    @each $prop in $spacing-properties {
        @each $size, $value in $spacing-values {
            $sizeLabel: '';
            @if $size != null { $sizeLabel: -#{$size}; }
            @each $direction in $directions {
                $directionValue: $direction;
                @if $direction == null { $directionValue: -all; }
                @if $direction == '-horizontal' {
                    .#{$prop}#{$direction}#{$sizeLabel} {
                        #{$prop}-left: $value;
                        #{$prop}-right: $value;
                    }
                    .#{$prop}#{$direction}-none {
                        #{$prop}-left: 0;
                        #{$prop}-right: 0;
                    }
                }
                @else if $direction == '-vertical' {
                    .#{$prop}#{$direction}#{$sizeLabel} {
                        #{$prop}-top: $value;
                        #{$prop}-bottom: $value;
                    }
                    .#{$prop}#{$direction}-none {
                        #{$prop}-top: 0;
                        #{$prop}-bottom: 0;
                    }
                }
                @else {
                    .#{$prop}#{$directionValue}#{$sizeLabel} {
                        #{$prop}#{$direction}: $value;
                    }
                    .#{$prop}#{$directionValue}-none {
                        #{$prop}#{$direction}: 0;
                    }
                }
            }
        }
    }
}

@include spacing();
