body {
    font-family: map-get($font, body);
    font-size: map-get($font, size);
    line-height: map-get($font, line-height);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: map-get($font, heading);
}

a, .link {
    border: none;
    color: $primary;
    text-decoration: none;
    &:visited {
        color: $primary;
    }
    &:hover, &:active {
        color: darken($primary, 10%);
    }
}

blockquote {
    font-style: italic;
    font-family: map-get($font, serif);
}

pre {
    code {
        color: inherit;
    }
}

.text {
    &--serif { font-family: map-get($font, serif); }
    &--sans { font-family: map-get($font, sans); }
    &--mono { font-family: map-get($font, mono); }
    &--lead { font-size: 1.25rem; }
    &--bold { font-weight: bold; }
    &--italic { font-style: italic; }
    &--spaced { letter-spacing: 0.125rem; }
    @each $key in $text-transforms {
        &--#{$key} {
            text-transform: $key;
        }
    }
    @each $key in $text-alignments {
        &--#{$key} {
            text-align: $key;
        }
    }
    @each $label, $width in $mq-breakpoints {
        @include mq($until: #{$label}) {
            @each $key in $text-alignments {
                &--#{$key}\@#{$label} {
                    text-align: #{$key};
                }
            }
        }
    }
}

@each $alias, $values in $palette {
    $color: nth($values, 2);
    $background: nth($values, 1);
    .text--#{$alias} {
        color: $background;
    }
    .bg--#{$alias} {
        background-color: $background;
        color: $color;
    }
    a.text--#{$alias}, .text--#{$alias} a {
        color: $background;
        cursor: pointer;
        &:hover {
            color: darken($background, 10%);
        }
    }
    .border--#{$alias} {
        border-color: $background;
    }
}

.color-block {
    [class^="col"] div {
        padding: 20px;
    }
}
