<a href="/account/articles"><i class="fas fa-fw fa-chevron-left"></i> Back</a>
{{#if data}}<h1>Edit Article</h1>{{/if}}
{{#not data}}<h1>Create Article</h1>{{/not}}
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrftoken}}" />
    <label for='title'>
        Title
        <input type='text' name='title' value='{{data.title}}' />
    </label>
    <label for='template'>
        Template
        <input type='text' name='template' value='standard' readonly />
    </label>
    <label for='content'>
        Content
        <textarea class='markdown' name='content'>{{data.content}}</textarea>
    </label>
    <button class='btn btn-primary'>Save</button>
</form>
<script>
    var simplemde = new SimpleMDE();
</script>