<h1>Articles</h1>
<a href='/admin/articles/create'>Create Article</a>
{{> pagination }}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Template</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each data.docs}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{template}}</td>
                    <td>{{moment timestamp format="MMMM DD, YYYY"}}</td>
                    <td>
                        <a href="/account/articles/{{_id}}">Edit</a>
                    </td>
                    <td>
                        <a href="/{{slug}}" target='_blank'>View</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{> pagination }}
