.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: map-get($spacing-values, null);
    grid-template-areas:
        'contact-subject contact-message'
        'contact-name contact-message'
        'contact-email contact-message'
        'contact-phone contact-message'
        'contact-recaptcha contact-button';
    @include mq($until: md) {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            'contact-subject'
            'contact-name'
            'contact-email'
            'contact-phone'
            'contact-message'
            'contact-recaptcha'
            'contact-button';
    }
    [name="subject"] {
        grid-area: contact-subject;
    }
    [name="name"] {
        grid-area: contact-name;
    }
    [name="email"] {
        grid-area: contact-email;
    }
    [name="phone"] {
        grid-area: contact-phone;
    }
    [name="message"] {
        grid-area: contact-message;
    }
    .contact-btn {
        grid-area: contact-button;
    }
    .contact-recaptcha {
        grid-area: contact-recaptcha;
    }
}