.example-card {
    border: 2px solid $light;
    border-radius: 0.375rem;
    margin-bottom: 2rem;
    .preview {
        padding: map-get($spacing-values, null);
    }

    code {
        background: $light;
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        color: $dark;
        display: block;
        padding: map-get($spacing-values, null);
        font-family: map-get($font, mono);
        font-style: normal;
    }
}
