.toast {
    padding: 15px;
    background: $gray;
    color: $white;
    display: grid;
    grid-template-columns: auto 40px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: map-get($spacing-values, null);
    margin-left: -185px;
    width: 370px;
    font-weight: bold;
    place-items: center;
    @each $key, $map in $palette {
        $background: nth($map, 1);
        $color: nth($map, 2);
        &.#{$key} {
            background: $background;
            color: $color;
        }
    }
}
