<div class="container">
    <div class='col-1/1 col-1/2@md'>
        <h1>Change Password</h1>
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrftoken}}" />
            <label for='currentPassword'>
                Current Password
                <input type='password' name='currentPassword' />
            </label>
            <label for='newPassword'>
                New Password
                <input type='password' name='newPassword' />
            </label>
            <label for='newPasswordConfirm'>
                Confirm New Password
                <input type='password' name='newPasswordConfirm' />
            </label>
            <div class='text--right'>
                <button class='btn primary'>Update Password</button>
            </div>
        </form>
    </div>
</div>
