@import url('https://fonts.googleapis.com/css?family=Hind|Neuton|Montserrat:400,700');

$mq-breakpoints: (
    xs: 320px,
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
) !default;

$directions: (
    null,
    -top,
    -right,
    -bottom,
    -left,
    -horizontal,
    -vertical,
) !default;

$spacing-properties: (
    padding,
    margin,
) !default;

$spacing-values: (
    null: 1rem,
    xs: 0.5rem,
    sm: 0.75rem,
    md: 1rem,
    lg: 1.25rem,
    xl: 1.5rem,
);

$gradients-enabled: false;

$primary: #0080FF;
// $primary: #F8F8FF;
// $secondary: #2c3e50;
$dark: #222629;
$secondary: mix($primary, $dark, 50%);
$light: #EEE;
$success: #2ecc71;
$danger: #e74c3c;
$warning: #fab633;
$white: #FFF;
$gray: #474B4F;
$gray2: lighten($gray, 50%);

$palette: (
    primary: ($primary, $white),
    secondary: ($secondary, $white),
    dark: ($dark, $white),
    light: ($light, $dark),
    success: ($success, $white),
    danger: ($danger, $white),
    warning: ($warning, $white),
    white: ($white, $dark),
    gray: ($gray, $white),
    gray2: ($gray2, $white),
);

$sizes: (
    null: (
        font-size: 1rem,
        padding: 0.375rem 0.75rem,
        line-height: 1.5rem,
    ),
    xs: (
        font-size: 0.5rem,
        padding: 0.25rem 0.375rem,
        line-height: 0.75rem,
    ),
    sm: (
        font-size: 0.75rem,
        padding: 0.375rem 0.75rem,
        line-height: 1rem,
    ),
    lg: (
        font-size: 1.25rem,
        padding: 0.5rem 1rem,
        line-height: 2rem,
    ),
    xl: (
        font-size: 1.5rem,
        padding: 0.75rem 1.5rem,
        line-height: 2.5rem,
    ),
) !default;

$dimensions: (25 33 50 66 75 100);

$font: (
    color: #1B2432,
    heading: ('Montserrat', sans-serif),
    sans: ('Montserrat', sans-serif),
    body: ('Hind', Helvetica, Arial),
    serif: ('Neuton', serif),
    mono: ('Courier New', Courier, monospace),
    size: 16px,
    line-height: 2em,
);

$text-transforms: (
    lowercase,
    uppercase,
    capitalize,
    "full-width",
    none,
) !default;

$text-alignments: (
    center,
    left,
    right,
    justify,
) !default;

$display-types: (
    inline,
    block,
    inline-block,
) !default;
