{{#unlessEq data.pages 1}}
    <div class='pagination'>
        {{#unlessEq data.page 1}}
                <a class='previous-page' href='{{url}}?page={{minus data.page 1}}'>
                    <i class="fas fa-fw fa-chevron-left"></i>
                </a>
        {{/unlessEq}}
        <span>
            {{data.page}} of {{data.pages}}
        </span>
        {{#unlessEq data.page data.pages}}
            <a class='next-page' href='{{url}}?page={{add data.page 1}}'>
                <i class="fas fa-fw fa-chevron-right"></i>
            </a>
        {{/unlessEq}}
    </div>
{{/unlessEq}}
