<section id="about" class="bg--gray padding-vertical-xl">
    <div class="container">
        <div class="col-1/1 col-1/2@md text--center">
            <img src="/images/dad-dev.jpg" class="circle w-50" />
            <h1>Ian Derbyshire</h1>
            <h3 class="text--gray2 text--serif text--spaced">Web Developer</h3>
            <ul class="inline text--white">
                <li>
                    <a href="https://twitter.com/fliteska" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                    <a href="https://facebook.com/fliteska"><i class="fab fa-fw fa-facebook"></i></a>
                    fliteska
                </li>
            </ul>
        </div>
        <div class="col-1/1 col-1/2@md">
            <h2>About Me</h2>
            <p class="margin-bottom text--lead text--serif">
                I am a web developer that specialises in javascript, but likes to dabble in other languages as well, working out of Newcastle in the north east of England.
            </p>
            <p class="margin-bottom text--gray4 text--serif text--italic">
                <span class="text--bold">Main Skills:</span> Javascript, React, Vue, SASS, Python
            </p>
            <p class="margin-bottom text--gray4 text--serif text--italic">
                <span class="text--bold">Fun Fact:</span> I started my programming career in the Devonshire Countryside on a diary farm.
            </p>
            <a class="btn lg white rounded margin-bottom block@md" href="#contact">
                Get In Touch
            </a>
        </div>
    </div>
</section>
<section id="skills" class="bg--dark padding-all-xl">
    <div class="container text--center">
        <ul class="inline">
            {{#each skills}}
                <li class="padding-horizontal-lg"><i class="fab fa-fw fa-3x fa-{{this}}"></i></li>
            {{/each}}
        </ul>
    </div>
</section>
<section id="projects" class="bg--light padding-vertical-xl">
    <div class="container">
        <div class="col-1/1 text--center">
            <h2>Projects</h2>
            <p class="margin-bottom">Some projects that I have worked on in the past.</p>
            <div class="project-grid">
                {{#each projects}}
                    <div class="card">
                        <div class="header">
                            {{title}}
                        </div>
                        <div class="img">
                            <img src="{{img}}" alt="">
                        </div>
                        <div class="body">
                            <ul class="inline">
                                {{#each technologies}}
                                    <li class="margin-horizontal"><i class="fab fa-fw fa-2x fa-{{this}}"></i></li>
                                {{/each}}
                            </ul>
                            <div>
                                {{{markdown description}}}
                            </div>
                        </div>
                        <div class="footer"></div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
<section id="contact" class="bg--secondary padding-vertical-xl">
    <div class="container">
        <div class="col-1/1 text--center">
            <h2>Get In Touch</h2>
            <p>Have you got a question or want to know more? Let me know!</p>
        </div>
        <div class="col-1/1">
            <form method="POST" class='contact-form'>
            <input type="hidden" name="_csrf" value={{csrftoken}} />
            <input type="hidden" name="recaptcha" class="recaptcha" />
            <div class="contact-grid">
                <select name="subject">
                    <option>I have a question</option>
                    <option>I have a request</option>
                    <option>I want to know more</option>
                </select>
                <input name="name" placeholder="Your name" />
                <input name="email" placeholder="Your email" />
                <input name="phone" placeholder="Your phone" />
                <textarea name="message" placeholder="Your message (e.g. You're the best!)"></textarea>
                <div class="g-recaptcha contact-recaptcha" data-sitekey="{{RECAPTCHA_SITE_ID}}"></div>
                <button class="btn block primary contact-btn">Send</button>
            </div>
            </form>
        </div>
    </div>
</section>
<section class="bg--dark padding-vertical-xl">
    <div class="container">
    </div>
</section>