<h1>Buttons</h1>
<p class='lead'>
    Button styles for actions in forms.
</p>
<div class='example-card'>
    <div class='preview'>
        {{> design/button text='Default'}}
        {{> design/button class='primary'}}
        {{> design/button class='secondary'}}
        {{> design/button class='light'}}
        {{> design/button class='dark'}}
        {{> design/button class='success'}}
        {{> design/button class='warning'}}
        {{> design/button class='danger'}}
        {{> design/button class='white'}}
        {{> design/button class='link'}}
    </div>
    {{!-- <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa nisi dolorum a nihil deleniti minima id perspiciatis ex facilis iste rerum accusamus, praesentium adipisci fuga in delectus, necessitatibus at.
    </code> --}}
</div>
<div class='example-card'>
    <div class='preview'>
        {{> design/button class='outline' text='Default'}}
        {{> design/button class='primary' class2='outline'}}
        {{> design/button class='secondary' class2='outline'}}
        {{> design/button class='light' class2='outline'}}
        {{> design/button class='dark' class2='outline'}}
        {{> design/button class='success' class2='outline'}}
        {{> design/button class='warning' class2='outline'}}
        {{> design/button class='danger' class2='outline'}}
        {{> design/button class='white' class2='outline'}}
    </div>
    {{!-- <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa nisi dolorum a nihil deleniti minima id perspiciatis ex facilis iste rerum accusamus, praesentium adipisci fuga in delectus, necessitatibus at.
    </code> --}}
</div>
<div class='example-card'>
    <div class='preview'>
        {{> design/button class='xs' text='Extra Small'}}
        {{> design/button class='sm' text='Small'}}
        {{> design/button class='lg' text='Large'}}
        {{> design/button class='xl' text='Extra Large'}}
    </div>
</div>
<div class='example-card'>
    <div class='preview'>
        {{> design/button class='rounded'}}
        {{> design/button class='primary outline active xl rounded'}}
    </div>
</div>
<div class='example-card'>
    <div class='preview'>
        {{> design/button class='active'}}
        {{> design/button class2='primary' class='active'}}
        {{> design/button class='active' class2='primary outline'}}
    </div>
</div>
<div class='example-card'>
    <div class='preview'>
        {{> design/button class='disabled' text='Disabled'}}
        {{> design/button class='disabled outline' text='Disabled'}}
    </div>
</div>
<div class='example-card'>
    <div class='preview'>
        <div class='btn-group'>
        {{> design/button text='Left'}}
        {{> design/button text='Middle'}}
        {{> design/button text='Right'}}
        </div>
    </div>
</div>
<div class='example-card'>
    <div class='preview'>
        <div class='btn-group vertical' style='width: 300px'>
        {{> design/button text='Left'}}
        {{> design/button text='Middle'}}
        {{> design/button text='Right'}}
        </div>
    </div>
</div>
