<h1>Navbars</h1>
<p class='lead'>
    Navbars
</p>
<div class='example-card'>
    <div class='preview'>
        {{> design/navbar text='Default' target='defaultNav'}}
        {{> design/navbar class='primary' target='defaultNav'}}
        {{> design/navbar class='secondary' target='defaultNav'}}
        {{> design/navbar class='light' target='defaultNav'}}
        {{> design/navbar class='dark' target='defaultNav'}}
        {{> design/navbar class='success' target='defaultNav'}}
        {{> design/navbar class='warning' target='defaultNav'}}
        {{> design/navbar class='danger' target='defaultNav'}}
        {{> design/navbar class='white' target='defaultNav'}}
        {{> design/navbar class='gray1' target='defaultNav'}}
        {{> design/navbar class='gray2' target='defaultNav'}}
        {{> design/navbar class='gray3' target='defaultNav'}}
        {{> design/navbar class='gray4' target='defaultNav'}}
    </div>
</div>
