<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} | {{site.title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='//use.fontawesome.com/releases/v5.1.0/css/all.css' />
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <div class='container-fluid'>
            {{> design/navbar text='Design' class='secondary' target='mainNavigation' items=menuItems}}
            <div class='col-1/1 col-5/6@md'>
                {{{body}}}
            </div>
        </div>
        <script src='/js/script.js'></script>
    </body>
</html>
