<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} | {{site.title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <link rel='stylesheet' href='//use.fontawesome.com/releases/v5.1.0/css/all.css' />
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        {{> toast}}
        <nav class='navbar secondary'>
            <div class='container'>
                <a class="brand circled text--primary" href='/'>
                    ITFKD
                </a>
                <button class='btn toggle' data-target='#menu'>
                    <i class="fas fa-bars"></i>
                </button>
                <ul id='menu' class='right'>
                    <li>
                        <a href="#about">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {{{body}}}
        <script src='/js/script.js'></script>
    </body>
</html>
